<section>
    <ul>
        <li>
            <div class="imagem">
                <div class="data">
                    <div class="num">29</div>
                    <div class="mes">NOV.</div>
                </div>
                <img src="./rep1.png" alt="">
            </div>
            <div class="texto">
                <h3>How Successful people make the most of their business</h3>
                <p>Um guia passo a passo para criar seu próprio blog.</p>
                <div class="rodape">
                    <span>Admin | Comments</span>
                    <h5>Read More →</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="imagem">
                <div class="data">
                    <div class="num">09</div>
                    <div class="mes">NOV.</div>
                </div>
                <img src="./rep2.png" alt="">
            </div>
            <h3>How Successful people make the most of their business</h3>
            <p>Um guia passo a passo para criar seu próprio blog.</p>
            <div class="rodape">
                <span>Editor | Comments</span>
                <h5>Read More →</h5>
            </div>
        </li>
        <li>
            <div class="imagem">
                <div class="data">
                    <div class="num">04</div>
                    <div class="mes">DEZ.</div>
                </div>
                <img src="./rep3.png" alt="">
            </div>
            <h3>How Successful people make the most of their business</h3>
            <p>Quality care for every patient contrary to popular belief, Lorem Ipsum is...</p>
            <div class="rodape">
                <span>Ameo | Comments</span>
                <h5>Read More →</h5>
            </div>
        </li>
        <li>
            <div class="imagem">
                <div class="data">
                    <div class="num">11</div>
                    <div class="mes">AGO.</div>
                </div>
                <img src="./rep4.png" alt="">
            </div>
            <h3>11 ways to completely revamp your business</h3>
            <p>Um guia passo a passo para criar seu próprio blog.</p>
            <div class="rodape">
                <span>Ameo | Comments</span>
                <h5>Read More →</h5>
            </div>
        </li>
    </ul>
</section>